<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{
  url_for('static', filename='jquery.js') }}">\x3C/script>')</script>

<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

<html>
<head>
    <script type="text/javascript"></script>
    <title>Magic Mirror</title>
    <!--<style type="text/css"></style>-->
    <style type="text/css">
      xsmall {font-size: 25px;}
    </style>
</head>
<body>

        <!--
        <link rel="stylesheet" type="text/css" href="static/weather-icons.css">
        <link rel="stylesheet" type="text/css" href="static/font-awesome.css">
        -->
        <link rel="stylesheet" type="text/css" href="static/main.css">

        <p>
            <xsmall><span id=date>{{date}}</span></xsmall>
        </p>

        <time>
            <span id=time>{{time}}</span>
            <!--<a href=# id=get_time>get time</a>-->
        </time>
 
        <p><small>{{city}} {{state}}</small></p>

        <temp id=current_temp>{{current_temp}}</temp> 

        <p id = weather>{{weather}}</p>

        <bottom><span id=compliment>{{compliment}}</span></bottom>

<script type="text/javascript">
setInterval(function(){
    $.ajax({ url:'/_get_update',
             success: function(data){$("#time").text(data.time);
                                     $("#date").text(data.date);
                                     $("#compliment").text(data.compliment)
                                    },
             dataType: "json"} );
            }, 30000);

setInterval(function(){
    $.ajax({ url:'/_get_newweather',
             success: function(data){$("#current_temp").text(data.current_temp);
                                     $("#weather").text(data.weather)
                                    },
             dataType: "json"} );
            }, 3600000);

</script>

<!--S
<script type=text/javascript>
  $(function() {
    $('a#get_time').bind('click', function() {
      $.getJSON($SCRIPT_ROOT + '/_get_time', function(data) {
        $("#time").text(data.result);
      });
      return false;
    });
  });
</script>
-->

</body>
</html>
