

<html>
<head>
    <script type="text/javascript"></script>
    <title>Magic Mirror</title>
    <!--<style type="text/css"></style>-->
</head>
<body>

        <!--
        <link rel="stylesheet" type="text/css" href="static/weather-icons.css">
        <link rel="stylesheet" type="text/css" href="static/font-awesome.css">
        -->
        <link rel="stylesheet" type="text/css" href="static/main.css">

        <p>{{city}} {{state}}</p>
        <p>{{time}}</p>
        <p>{{current_temp}} {{weather}}</p>
        <p>{{compliment}}</p>

</body>
</html>
