<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{
  url_for('static', filename='jquery.js') }}">\x3C/script>')</script>

<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

<html>
<head>
    <script type="text/javascript"></script>
    <title>Magic Mirror</title>
    <!--<style type="text/css"></style>-->
    <link rel="stylesheet" type="text/css" href="static/main.css">
</head>
<body>

        <!--
        <link rel="stylesheet" type="text/css" href="static/weather-icons.css">
        <link rel="stylesheet" type="text/css" href="static/font-awesome.css">
        -->
        <div class="top left">
          <div class="windsun small dimmed"><span id=date>{{date}}</span></div>
          <time>
              <span id=time>{{time}}</span>
          </time>
        </div>

        <div class="top right">
          <div class="medium dimmed">{{city}} {{state}}</div>
          <div class = "medium"><br>

          <temp id=current_temp>{{current_temp}}</temp>
          <weather id = weather>{{weather}}</weather>
          </div>
        </div>

        <div class="lower-third center-hor"><span id=compliment>{{compliment}}</span></div>

<script type="text/javascript">
setInterval(function(){
    $.ajax({ url:'/_get_update',
             success: function(data){$("#time").text(data.time);
                                     $("#date").text(data.date);
                                     $("#compliment").text(data.compliment)
                                    },
             dataType: "json"} );
            }, 30000);

setInterval(function(){
    $.ajax({ url:'/_get_newweather',
             success: function(data){$("#current_temp").text(data.current_temp);
                                     $("#weather").text(data.weather)
                                    },
             dataType: "json"} );
            }, 3600000);

</script>

</body>
</html>
